.side-drawer {
    height: 100%;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    background-color:$color-sidebar;
    padding: 2rem;
  }
  
  .side-drawer.open {
    transform: translateX(0);
    transition: transform 1s ease-out;
  }

  @media(max-width:768px){
    .side-drawer{
        transform: translateX(-100%);
        transition: transform 0.5s ease-out;
    }
}