.user-info{
    color: $color-gery-dark;
    border-top: 1px solid $color-grey-light ;
    border-bottom: 1px solid $color-grey-light ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2rem;

    &__avater{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
        img{
            vertical-align: middle;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        
        &--title{
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }

    &__content{
        padding: 1rem;
        width:100%;
        ul{
            width: 100%;
            margin: 0;
            padding: 0;

            li{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                list-style-type: none;
            }
        }
    }
}

.user-info__content a {
    text-decoration: none;
    color: $color-gery-dark;

    &:hover, &:active{
        color: $color-secondary-light;
    }
}

.nav-link{
    padding: .5rem;
}

@media(max-width:768px){
    .user-info__avater--title{
        font-size: 1rem;
    }
    .user-info__avater img{
        width: 25px;
        height: 25px;
    }

    .user-info__content{
        .nav-link{
            font-size: 1rem;
        }
    }
}