/* 
 This file will have the all VARIABLES used in the project
 - Author : Pavel Ray   
*/


// COLOR
$color-primary : #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tretiary-light: #2998ff;
$color-tretiary-dark: #5643fa;

$color-grey-dark: #777;
$color-white:#fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-gery-dark:#eee;

$color-sidebar :  #66615b;

// FONT
$default-font-size:1.6rem;

// GRID
$grid-max-width: 116rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;